<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta name="theme-color" content="#317EFB" />
  <link rel="manifest" href="/manifest.json">
  <meta name="Description" content="">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index,follow" />
  <meta name="author" content="Sreeram Padmanabhan">
  <meta charset="UTF-8">
  <meta property='og:image' content="<%= htmlWebpackPlugin.options.ogImage %>" />
	<meta property='og:url' content="<%= htmlWebpackPlugin.options.ogUrl %>" />
	<meta property='og:title' content="<%= htmlWebpackPlugin.options.ogTitle %>"  />
	<meta property='og:description' content="<%= htmlWebpackPlugin.options.ogDescription %>" />
	<meta property='og:type' content="<%= htmlWebpackPlugin.options.ogType %>" />
	<meta property='fb:app_id' content="<%= htmlWebpackPlugin.options.ogFbAppId %>" />
  <link rel='icon' href='/favicon.png' />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet">
  <%- include config/header %>
  <style>
    @media (max-width: 360px) {
      body {
        font-size: 16px;
      }
    }
    @media (min-width: 360px) {
      body {
        font-size: 1.0em;
      }
    }
  </style>
  <script>
    var modernBrowser = (
      'fetch' in window &&
      'assign' in Object
    );

    if (!modernBrowser) {
      var scriptElement = document.createElement('script');

      scriptElement.async = false;
      scriptElement.src = '/polyfills.bundle.js';
      document.head.appendChild(scriptElement);
    }
  </script>
  <style>
  body {
    margin: 0;
  }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>
